import * as S from './styles/'

const {{pascalCase name}} = ({ title = 'React avançado', description = 'testando' }) => (
  <main>
    <S.Title>{{pascalCase name}}</S.Title>
    <p>{description}</p>
  </main>
)

export default {{pascalCase name}}
